<!-- FAQ -->
<section class="container mx-auto px-6 py-12 max-w-3xl">
    <h2 class="text-2xl font-bold mb-6 text-left">FAQ</h2>
    <div class="space-y-4 max-w-2xl mx-auto">
        <div class="faq-question bg-gray-800 p-4 rounded-lg cursor-pointer max-w-xl mr-auto">
            <h3 class="text-lg font-semibold">Do you do short projects? I only need a little help, this shouldn't take more than a day or two.</h3>
        </div>
        <div class="faq-answer hidden bg-gray-700 p-4 rounded-lg max-w-xl ml-auto">
            <p>That's fine, I'd be happy to help irrespectively of the scope of work.</p>
        </div>

        <div class="faq-question bg-gray-800 p-4 rounded-lg cursor-pointer max-w-xl mr-auto">
            <h3 class="text-lg font-semibold">Do you work with the XYZ platform/broker?</h3>
        </div>
        <div class="faq-answer hidden bg-gray-700 p-4 rounded-lg max-w-xl ml-auto">
            <p>The systems I build are broker-agnostic, meaning they can connect to any trading platform. If I haven’t worked with your specific broker before, I can adapt to it relatively quickly. Most APIs function similarly, so integrating a new one is usually straightforward.</p>
        </div>

        <div class="faq-question bg-gray-800 p-4 rounded-lg cursor-pointer max-w-xl mr-auto">
            <h3 class="text-lg font-semibold">What programming language do you build in?</h3>
        </div>
        <div class="faq-answer hidden bg-gray-700 p-4 rounded-lg max-w-xl ml-auto">
            <p>Python.</p>
        </div>

        <div class="faq-question bg-gray-800 p-4 rounded-lg cursor-pointer max-w-xl mr-auto">
            <h3 class="text-lg font-semibold">What's your background?</h3>
        </div>
        <div class="faq-answer hidden bg-gray-700 p-4 rounded-lg space-y-2 max-w-xl ml-auto">
            <p>I work in algorithmic trading since 2019. My specialisation is creating bespoke trading systems, focusing on reliability and maintainability. It brings me deep satisfaction to help my clients bring their ideas into fruition and their strategies to show full potential. Algorithmic trading, as a field, is full of eager and innovative people who are truly excited about what they do - and I feel I thrive in this setting.</p>
            <p>I authored and maintain two popular libraries for Interactive Brokers API: IBeam and IBind, and two not-so-popular but equally useful ones: Superloops and Databay.</p>
            <p>Prior to that I was a machine learning researcher, specialised in computer vision and rendering using deep neural networks. Throughout my career I did web development for a couple of years, and mobile development for a year. Before becoming fully remote I worked as workflow optimisation engineer and pipeline developer for some creative animation studios in London. My master's degree is in software engineering for computer graphics and visualisations, my undergraduate degree is in computer visual effects.</p>
            <p>When I don't code I travel the world, take nice photos and play music with my loved ones. I've recently settled down after 6 years of living across Asia, Latin America and Europe.</p>
        </div>

        <div class="faq-question bg-gray-800 p-4 rounded-lg cursor-pointer max-w-xl mr-auto">
            <h3 class="text-lg font-semibold">Do you trade yourself?</h3>
        </div>
        <div class="faq-answer hidden bg-gray-700 p-4 rounded-lg max-w-xl ml-auto">
            <p>Yes. I apply the same level of detail and robustness in my own trading systems as I do for clients.</p>
        </div>
    </div>
</section>
