<!-- The Way I Do It -->
<section class="container mx-auto px-6 py-12 max-w-3xl">
    <h2 class="text-2xl font-bold mb-6">The Way I Usually Do It</h2>
    <ul class="list-decimal pl-6 max-w-3xl mx-auto">
        <li>We jump on a call to figure out if I can be of help, free of charge.</li>
        <li>If you're satisfied, we sign a contract and I can start working right away.</li>
        <li>
            The contract includes an NDA to ensure your information and strategies remain secure. Or if you prefer, I'll build the backbone of the system and leave the strategy code implementation to you.
        </li>
        <li>
            You explain the requirements to me. Whether you're a beginner or an experienced trader, I'll adapt to your level of technical knowledge and help in areas where you need help.
        </li>
        <li>
            I design the system and help you define the desired level of detail. Automated tests? Failure recovery? Fat finger checks? Trade logs? Dashboard? We can go complex, we can go simple.
        </li>
        <li>
            I can represent you in talks with the broker, and I take care of the whole process: architecture design, strategy implementation, deployment, and analysis—you sit back and check in as often as you deem necessary.
        </li>
        <li>
            As I work, I communicate each step and adjust the roadmap to match your vision and budget. You're always in control of the work I do, all time is tracked and you only pay for the hours I've worked—we stop whenever you feel like stopping. Short projects are fine, long projects likewise.
        </li>
    </ul>
</section>